.notify--error{
line-height: 1.3;
padding-top:10px;
padding-bottom: 10px;
	
}
.success-error{
	background-color: green;
	color: white;
  background-image: -webkit-linear-gradient(90deg, #15973d 0%, #2b8e3c 100%);
}
.button-remove{
	
}