.notify--error{
line-height: 1.3;
padding-top:10px;
padding-bottom: 10px;
	
}
.hide{
	display: none;
}
.success-error{
	background-color: green;
	color: white;
  background-image: -webkit-linear-gradient(90deg, #15973d 0%, #2b8e3c 100%);
}
.formInput-image__delete-button {
    position: absolute;
    bottom: 10px;
    left: 200px;
}
.button-right-top-port{
	position: relative;
	top:-20px;
}
.button-right-top{
	position: relative;
	top:-4px;
}
.button_position{ 
	position: absolute;
	left: -180px;
}
.mr-100{
	margin-right: 140px !important; 
}
.avatar-small{
width: 105px;
height: 105px;
}
.about-text h2{
font-weight: 800;	
}
.logo-portfolio-icon{
	color:black;
}