.notify--error{
line-height: 1.3;
padding-top:10px;
padding-bottom: 10px;
	
}
.hide{
	display: none;
}
.success-error{
	background-color: green;
	color: white;
  background-image: -webkit-linear-gradient(90deg, #15973d 0%, #2b8e3c 100%);
}
.formInput-image__delete-button {
    position: absolute;
    bottom: 10px;
    left: 200px;
}
.button-right-top{
	position: relative;
}
.button_position{
	position: absolute;
	left: -180px;
}
.mr-100{
	margin-right: 100px !important; 
}